<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to CI</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <a href="/gh/auth">Sign in with Github</a>
        <footer>
        &copy; all rights reserved
        </footer>
    </body>
</html>